* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.to-do {
  background: #2e8b57;
  min-height: 100vh;
}
.to-do .container .nav {
  display: flex;
  justify-content: center;
}
.to-do .container .nav h2 {
  display: flex;
  justify-content: center;
  color: white;
}
.to-do .container .nav .input {
  display: flex;
}
.to-do .container .nav .input .wrapper .form-control {
  padding: 25px;
  color: black;
  border-radius: 0;
}
.to-do .container .nav .input .wrapper span {
  color: rgb(198, 31, 31);
}
.to-do .container .nav .input .btn {
  padding: 0;
  margin-left: 10px;
}
.to-do .container .nav .input .btn i {
  color: white;
  font-size: 22px;
  background: #063b1d;
  line-height: 40px;
  height: 40px;
  width: 40px;
}
.to-do .container .nav .input .sort #progress {
  padding: 10px;
  margin-left: 10px;
}
.to-do .container .table {
  border-collapse: separate;
  border-spacing: 0 20px;
}
.to-do .container .table #todos-list .todos-item {
  background-color: white;
}
.to-do .container .table #todos-list .todos-item td {
  text-align: center;
  padding: 20px;
  vertical-align: middle;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) {
  width: 25%;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) button {
  height: 40px;
  width: 40px;
  border: none;
  margin-left: 10px;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) button i.fa-edit {
  color: white;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) button i.fa-trash {
  color: white;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) button:nth-child(2) {
  background-color: #065327;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) button:nth-child(3) {
  background-color: red;
}
.to-do .container .table #todos-list .todos-item td:nth-child(4) input {
  width: 40px;
  height: 40px;
  vertical-align: top;
}

.loader-container {
  background-color: #065327;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}
.loader-container .loader {
  width: 70px;
  height: 70px;
  border-top: 5px solid #f5f6f5;
  border-radius: 50%;
  -webkit-animation: spin 0.8s linear infinite;
          animation: spin 0.8s linear infinite;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}/*# sourceMappingURL=index.css.map */