* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 20px;
}

.to-do {
  background: #2e8b57;
  min-height: 100vh;

  .container {
    .nav {
      display: flex;
      justify-content: center;
      h2 {
        display: flex;
        justify-content: center;
        color: white;
      }
      .input {
        display: flex;

        .wrapper {
          .form-control {
            padding: 25px;
            color: black;
            border-radius: 0;
          }
          span {
            color: rgb(198, 31, 31);
          }
        }
        .btn {
          padding: 0;
          margin-left: 10px;
          i {
            color: white;
            font-size: 22px;
            background: #063b1d;
            line-height: 40px;
            height: 40px;
            width: 40px;
          }
        }
        .sort {
          #progress {
            padding: 10px;
            margin-left: 10px;
          }
        }
      }
    }
    .table {
      border-collapse: separate;
      border-spacing: 0 20px;
      #todos-list {
        .todos-item {
          background-color: white;
          td {
            text-align: center;
            padding: 20px;
            vertical-align: middle;
          }
          td:nth-child(4) {
            width: 25%;
            button {
              height: 40px;
              width: 40px;
              border: none;
              margin-left: 10px;
              i.fa-edit {
                color: white;
              }
              i.fa-trash {
                color: white;
              }
            }
            button:nth-child(2) {
              background-color: #065327;
            }
            button:nth-child(3) {
              background-color: red;
            }
            input {
              width: 40px;
              height: 40px;
              vertical-align: top;
            }
          }
        }
      }
    }
  }
}

.loader-container {
  background-color: #065327;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  .loader {
    width: 70px;
    height: 70px;
    border-top: 5px solid #f5f6f5;
    border-radius: 50%;
    animation: spin 0.8s linear infinite;
  }
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
